__pycache__/
build_infrastructure/installer/linux/common/intel-tee-pccs-admin-tool/gen_source.py
build_infrastructure/installer/linux/common/sgx-dcap-pccs/gen_source.py
output/

build_infrastructure/installer/linux/deb/*/*.deb
build_infrastructure/installer/linux/deb/*/*.buildinfo
build_infrastructure/installer/linux/deb/*/*.changes
build_infrastructure/installer/linux/deb/*/*.tar.xz
build_infrastructure/installer/linux/deb/*/*.dsc
build_infrastructure/installer/linux/deb/*/*.orig.tar.gz
build_infrastructure/installer/linux/deb/intel-tee-pccs-admin-tool/intel-tee-pccs-admin-tool-*
!build_infrastructure/installer/linux/deb/intel-tee-pccs-admin-tool/intel-tee-pccs-admin-tool-1.0

build_infrastructure/installer/linux/rpm/*/*.rpm
build_infrastructure/installer/linux/rpm/intel-tee-pccs-admin-tool/intel-tee-pccs-admin-tool-*/
