Source: sgx-dcap-pccs
Section: web
Priority: optional
Maintainer: <xiangquan.liu@intel.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/intel/confidential-computing.tee.dcap.pccs

Package: sgx-dcap-pccs
Architecture: any
#
#  Note: NodeJS version constraint is deliberately lax, to allow for forward-compat
#        As of time of this writing, the Intel_SGX_SW_Installation_Guide_for_Linux.pdf declares support
#        for: (18.17.0 to 18.19.1, 20.0.0 to 20.11.1, or 21.0.0 to 21.5.0)
Depends: nodejs (>= 18.17.0), npm, cracklib-runtime, adduser
#
# ___
# vvv - If openssl is present, it allows to auto-generate self-signed TLS certificates for HTTPS support
#       at install-time
# vvv - intel-tee-pccs-admin-tool is a recommended dependency (especially for managing pccs in REQ and OFFLINE modes).
#       While, in some deployments, it is installed on a different host from the PCCS system itself, it is considered
#       a recommendation (weak dependency in RPM parlance) due to the practicality of having it also available on the localhost.
#       Note the reverse is not true: PCCS package is merely a *hint* for intel-tee-pccs-admin-tool.
Recommends: intel-tee-pccs-admin-tool (>= @dep_version@), openssl
Description: Intel(R) Software Guard Extensions PCK Caching Service
